In [10]:
#installing kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\naska\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in c:\users\naska\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\naska\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\naska\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\naska\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\naska\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\naska\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\naska\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [3]:
#importing required kaggle data from using kaggle API and auth token.
import kaggle

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\naska\OneDrive\Documents\IVY Professional School\Portfolio\SQL+ Python

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 247kB/s]
100%|##########| 200k/200k [00:00<00:00, 247kB/s]

In [12]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [14]:
#installing pandas library
!pip install pandas

Requirement already satisfied: pandas in c:\users\naska\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\naska\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naska\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\naska\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\naska\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\naska\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [124]:
#importing pandas library
import pandas as pd
#importing orders.csv
df = pd.read_csv('orders.csv',na_values = ['Not Available', 'unknown'])

In [126]:
#1st 20 rows
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [128]:
#Which unique values 'Ship Mode' column has
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [130]:
#Changing all column names to lowercase
df.columns = df.columns.str.lower()
#df.columns
#Replacing spaces in column names to underscore
df.columns = df.columns.str.replace(" ", "_")

In [132]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [134]:
#derive new columns discount, sale price, profit
df['discount'] = df['list_price']*(df['discount_percent']/100)
df['sale_price'] = df['list_price']-df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df['total_sale'] = df['sale_price']*df['quantity'] 
df['total_profit'] = df['profit']*df['quantity']

In [152]:
#Convert order date from object data type to datetime
#Displaying all columns data types
df.dtypes
#Unsing to_datetime() to doing the convert operation
#df['order_date'] = pd.to_datetime(df['order_date'], format = '%Y-%m-%d')

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
total_sale          float64
total_profit        float64
dtype: object

In [26]:
!pip install sqlalchemy pymysql mysqlclient

Requirement already satisfied: sqlalchemy in c:\users\naska\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pymysql in c:\users\naska\anaconda3\lib\site-packages (1.1.1)
Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\naska\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\naska\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   ------ --------------------------------- 30.7/203.2 kB ? eta -:--:--
   ------------- ------------------------- 71.7/203.2 kB 787.7 kB/s eta 0:00:01
   ------------------------ --------------- 122.9/203.2 kB 1.0 MB/s eta 0:00:01
   ------------------------ --------------- 122.9/203.2 kB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 203.2/203.2 kB 1.0 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4

In [98]:
import pymysql

connection = pymysql.connect(
    user = 'root',
password = 'Abhi@1999',
host = 'localhost',
database = 'furniture'
)

try:
    with connection.cursor() as cursor:
        cursor.execute("SELECT DATABASE()")
        version = cursor.fetchone()
        print("Database version:", version)
finally:
    connection.close()

Database version: ('furniture',)

In [138]:
import sqlalchemy as sal
import pandas as pd
username = 'root'
password = 'Abhi%401999'
host = 'localhost'
database = 'furniture'
connection_string = f'mysql+pymysql://{username}:{password}@{host}/{database}'
engine = sal.create_engine(connection_string)
conn = engine.connect()

In [148]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DECIMAL, Date
metadata = MetaData()
furniture_table = Table(
    'df_orders', metadata,
    Column('order_id', Integer, primary_key=True),
    Column('order_date', Date),
    Column('ship_mode', String(20)),
    Column('segment', String(20)),
    Column('country', String(20)),
    Column('city', String(20)),
    Column('state', String(20)),
    Column('postal_code', String(20)),
    Column('region', String(20)),
    Column('category', String(20)),
    Column('sub_category', String(20)),
    Column('product_id', String(50)),
    Column('cost_price', Integer),
    Column('list_price', Integer),
    Column('quantity', Integer),
    Column('discount_percent', Integer),
    Column('discount', DECIMAL(7,2)),
    Column('sale_price', DECIMAL(7,2)),
    Column('profit', DECIMAL(7,2)),
    Column('total_sale', DECIMAL(10,2)),
    Column('total_profit', DECIMAL(10,2))
)
metadata.create_all(engine)

print("Table  created successfully.")

Table  created successfully.

In [150]:
#df['gross_profit'].unique
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

9994